
.i {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  counter-increment: i ii;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: r 10s infinite;
          animation: r 10s infinite;
}
.i:nth-of-type(1) {
  -webkit-animation-delay: -9s;
          animation-delay: -9s;
  z-index: 9;
}
.i:nth-of-type(2) {
  -webkit-animation-delay: -8s;
          animation-delay: -8s;
  z-index: 8;
}
.i:nth-of-type(3) {
  -webkit-animation-delay: -7s;
          animation-delay: -7s;
  z-index: 7;
}
.i:nth-of-type(4) {
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  z-index: 6;
}
.i:nth-of-type(5) {
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  z-index: 5;
}
.i:nth-of-type(6) {
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  z-index: 4;
}
.i:nth-of-type(7) {
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  z-index: 3;
}
.i:nth-of-type(8) {
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  z-index: 2;
}
.i:nth-of-type(9) {
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  z-index: 1;
}
.i:nth-of-type(10) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  z-index: 0;
}
.i:nth-of-type(1) {
  counter-reset: i -1;
}
.i:nth-of-type(10) {
  counter-reset: ii -1;
}
.i::before {
  content: counter(i);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12em;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
  clip: rect(0, 140px, 100px, 0);
}
.i::after {
  content: counter(ii);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 12em;
  background-color: #fff;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  box-shadow: inset 0 0 20px 5px rgba(0, 0, 0, 0.5);
  clip: rect(100px, 140px, 200px, 0);
  -webkit-transform: rotateX(180.1deg);
          transform: rotateX(180.1deg);
}
@-webkit-keyframes r {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  10%,
    19% {
    visibility: visible;
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  20%,
    90% {
    visibility: hidden;
  }
  90.1%,
    100% {
    visibility: visible;
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
@keyframes r {
  0% {
    -webkit-transform: rotateX(0deg);
            transform: rotateX(0deg);
  }
  10%,
    19% {
    visibility: visible;
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
  20%,
    90% {
    visibility: hidden;
  }
  90.1%,
    100% {
    visibility: visible;
    -webkit-transform: rotateX(-360deg);
            transform: rotateX(-360deg);
  }
}
.ib {
  position: relative;
  width: 140px;
  height: 200px;
  margin-left: .5rem;
  margin-right: .5rem;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000;
  -webkit-perspective: 700px;
          perspective: 700px;
  -webkit-perspective-origin: 30% 50%;
          perspective-origin: 30% 50%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0;
  line-height: 1.4;
  color: #fff;
  background-color: #190c40;
}

.intro {
  width: 90%;
  max-width: 50rem;
  padding-top: .5em;
  padding-bottom: 1rem;
  margin: 0 auto 1em;
  font-size: calc(1rem + 2vmin);
  text-transform: capitalize;
  text-align: center;
  font-family: serif;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
}

.info {
  margin: auto 0 0;
  padding: 1em;
  font-size: .9em;
  font-style: italic;
  font-family: serif;
  text-align: right;
  opacity: .75;
}
.info a {
  color: inherit;
}
